body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    font-weight: bold;
}
.a_cont{
    height:1200px;
}
header{
    height:111px;
    background-color: #9933CC;
}
main{
    height:1200px;
    }
footer{
    height:69px;
    background-color: #0099CC;
}
